@page "/first"

<PageTitle>First page</PageTitle>

<h1>Our <p style="color:aqua">Services</p></h1>
<p >There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration</p>



<!--Final Grid-->
<div class="container">
	<div class="row g-2" >
		<div class="col-sm g-5" >
			<div class="row" style="background-color:aliceblue; padding:	20px 20px; border-radius:7px;">
				<div class="col-auto col align-self-center">
					<span class="oi oi-basket" aria-hidden="true" style="font-size:40px; color:lightblue"></span>
				</div>
				<div class="col" style="padding: 5px;">
					<h4>AIR TRANSPORT</h4>
					<p>@someText</p>
					<a href="/todo">Read more</a>
				</div>
			</div>
		</div>
		<div class="col-sm g-5" >
			<div class="row" style="background-color:aliceblue; padding: 20px 20px; border-radius:7px;">
				<div class="col-auto col align-self-center">
					<span class="oi oi-ban" aria-hidden="true" style="font-size:40px; color:lightblue"></span>
				</div>
				<div class="col" style="padding: 5px;">
					<h4>CARGO TRANSPORT</h4>
					<p>@someText</p>
					<a href="/todo">Read more</a>
				</div>
			</div>
		</div>
	</div>

	<div class="row g-2">
		<div class="col-sm g-5">
			<div class="row" style="background-color:aliceblue; padding:	20px 20px; border-radius:7px;">
				<div class="col-auto col align-self-center">
					<span class="oi oi-action-redo" aria-hidden="true" style="font-size:40px; color:lightblue"></span>
				</div>
				<div class="col" style="padding: 5px;">
					<h4>TRUCK TRANSPORT</h4>
					<p>@someText</p>
					<a href="/todo">Read more</a>
				</div>
			</div>
		</div>
		<div class="col-sm g-5">
			<div class="row" style="background-color:aliceblue; padding: 20px 20px; border-radius:7px;">
				<div class="col-auto col align-self-center">
					<span class="oi oi-arrow-circle-bottom" aria-hidden="true" style="font-size:40px; color:lightblue"></span>
				</div>
				<div class="col" style="padding: 5px;">
					<h4>TRAIN TRANSPORT</h4>
					<p>@someText</p>
					<a href="/todo">Read more</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Next Block-->
<section>
	<div class="container g-5">
		<div class="row">
			<div class="col align-self-center g-3">
				<h3>About Us</h3>
				<p>@description</p>
				<a href="/todo" class="aboutUs">Read more</a>
			</div>

			<div class="col-sm g-3">
				<img src="/images/about-img.jpg" class="img-fluid" alt="Image" >
			</div>
		</div>
	</div>
</section>



@code {
	private string someText = "fact that a reader will be distracted by the readable content of a page when looking at its layout.Thepoint of using";
	private string description = "There are many variations of passages of Lorem Ipsum available, but the majority have suffered alterationin some form, by injected humour, or randomised words which don't look even slightly believable. If youare going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.";

}
